<div class="card border-primary mb-2" style="max-width: 36rem;">
  <div class="card-header"><%= message.user.name %> @ <%= l message.created_at %></div>
  <div class="card-body text-primary">
    <h6 class="card-title"><%= message.content %></h6>
  </div>
</div>