<div class="container" style="background-color: rgba(55,55,55,0.2);">
  <div class="row">
    <div class="col">
      User_name
    </div>
    <div class="col">
      <button type="button" class="btn btn-outline-light btn-sm">プロフィール編集</button>
    </div>
  </div>
</div>
<div class="container" style="background-color: rgba(55,155,55,0.2);">
  <button type="button" class="btn btn-outline-light">新規登録</button>
  <button type="button" class="btn btn-outline-light">ログイン</button>
  <button type="button" class="btn btn-outline-light">ログアウト</button>
</div>
<div class="container" style="background-color: rgba(55,55,155,0.2);">
  <button type="button" class="btn btn-outline-light">公認メンター一覧</button>
</div>
<div class="container" style="background-color: rgba(0,255,0,0.5);">
  <button type="button" class="btn btn-outline-light">新規相談ルームを作成する</button>
  <button type="button" class="btn btn-outline-light">相談中のルーム</button>
</div>