<%= render "shared/header" %>

<div class="shared_page d-flex">

  <div class="shared_page_L">
    <%= render "shared/cards/home" %>
  </div>

  <div class="shared_page_R">
    <%= render "new_profile" %>
  </div>

</div>

<%= render "shared/footer" %>
