<%= render "shared/header" %>

<div class="shared_page d-flex">

  <div class="shared_page_L">
    <%= render "shared/cards/home" %>
    <%= render "shared/cards/edit.profile" %>
  </div>

  <div class="shared_page_R">
    <%= render "show_profile" %>
  </div>

</div>