<h5 class="navbar-brand"><b>基礎知識</b></h5>
<div class="d-flex">
  <nav id="navbar-example3" class="book_titles navbar navbar-light">
    <nav class="nav nav-pills flex-column">
      <a class="nav-link" href="#item-1">1 知っておいた方が良いこと</a>
      <nav class="nav nav-pills flex-column">
        <a class="nav-link ml-3 my-1" href="#item-1-1">1-1. 全ては必然</a>
        <a class="nav-link ml-3 my-1" href="#item-1-2">1-2. トラブルの原因を自分に向ける</a>
      </nav>
      <a class="nav-link" href="#item-2">2 やっておいた方が良いこと</a>
      <nav class="nav nav-pills flex-column">
        <a class="nav-link ml-3 my-1" href="#item-2-1">2-1. 虫歯の治療</a>
      </nav>
    </nav>
  </nav>

  <div class="book_contents" data-spy="scroll" data-target="#navbar-example3" data-offset="0">
    <br>

    <h4 id="item-1"><b>1　知っておいた方が良いこと</b></h4>
    <p>
    　人生において「もっと早く知っておけば...」と思うことは多いはずです。<br>
    
    </p>
    <h5 id="item-1-1"><b>1-1. 全ては必然</b></h5>
    　<br>
    <p>
    </p><br>

    <h5 id="item-1-2"><b>1-2. トラブルの原因を自分に向ける</b></h5>
    <p>
    　物事がうまく行かない時、何かトラブルに遭った時、周りの人や環境のせいにするのは本当に無意味です。<br>
    　これはどういうことかと言うと、例えば、<br>
    ・営業職で契約が取れないのは相手が悪い<br>
    ・店の売上が伸びないのはお客さんのせい<br>
    ・電車が止まってアポに遅れたのは鉄道会社のせい<br>
    ・交通事故に遭ったが今回のケースだと加害者が100%悪い<br>
    等、様々な「他のせい」が考えられます。<br>
    ここで考えていただきたいのは「責任の所在が誰にあろうと、結局自分が変わらない限り同じことが繰り返される」ということです。
    つまり、トラブルが成立する条件を除去していかない限りトラブルは発生し続けますよ、ということです。<br>
    </p><br>

    <h4 id="item-2"><b>2　やっておいた方が良いこと</b></h4>
    <br>

    <h5 id="item-2-1"><b>2-1. 虫歯の治療</b></h5>
    <p>
    　自然治癒はしないため、早めに治療しておいた方が良いです。<br>
    軽度の虫歯ならものの数分で1本1000円前後(保険適用)で治してくれます。<br>
    </p><br>

  </div>

</div>