<h5 class="navbar-brand"><b>基礎知識</b></h5>
<div class="d-flex">
  <nav id="navbar-example3" class="book_titles navbar navbar-light">
    <nav class="nav nav-pills flex-column">
      <a class="nav-link" href="#item-1">1 知っておいた方が良いこと</a>
      <nav class="nav nav-pills flex-column">
        <a class="nav-link ml-3 my-1" href="#item-1-1">1-1. 幸・不幸を決める公式</a>
        <a class="nav-link ml-3 my-1" href="#item-1-2">1-2. 人生最大の錯覚</a>
        <a class="nav-link ml-3 my-1" href="#item-1-3">1-3. 人は無意識に〇〇をしている</a>
        <a class="nav-link ml-3 my-1" href="#item-1-4">1-4. 多くの人が後悔すること</a>
      </nav>
    </nav>
  </nav>

  <div class="book_contents" data-spy="scroll" data-target="#navbar-example3" data-offset="0">
    <br>

    <h4 id="item-1"><b>1　知っておいた方が良いこと</b></h4>
    <p>
    　人生において「これはもっと早く知っておきたかった」と思ったことは、誰もがお持ちだと思います。
    先達が何年、何十年かけて編み出した”失敗”を、あなたが同じ時間をかけて再現する(そして人生を無駄にする)必要はないのではないでしょうか。<br>
    </p>
    <h5 id="item-1-1"><b>1-1.　幸・不幸を決める公式</b></h5>
    <p>
    　<b>幸福度 ＝ 持っているもの(分子) ➗ 欲望(分母)</b>
    </p>
    <p>
    　幸福度の定義は様々できると思いますが、これが最も核心を突いたものでないかと思っております。<br>
    　人はお金を手に入れたらもっと大金が欲しくなります。
    美味しいものを食べたらもっと美味しいものを食べたくなります。
    便利なものがあればもっと便利なものが欲しくなります。<br>
    　つまり分子が分母に追いついた場合しばらくは幸福感を味わえますが、ほどなくして分母は増大します。これを際限なく繰り返します。<br>
    　よって幸せになるためには分母である心に目を向けないと、死ぬまで分子であるモノに振り回されてしまいます。
    </p><br>
    <h6 class="card-title">　<%= link_to "参考：京都大学こころの未来研究センター　内田由紀子准教授の活動報告書", "https://www.kyoto-bhutan.org/ja/activities/activities09/page4.html" %></h6>
    <br>

    <h5 id="item-1-2"><b>1-2.　人生最大の錯覚</b></h5>
    <p>
    　<b>「何か」があれば幸せになれる</b>
    </p>
    <p>
    　自由に使える莫大なお金、円満な家庭、何でも相談できる親友、やりがいのある仕事、高い地位や権力、熱中できる趣味、大好きな食べ物など、「これがあれば幸せになれる」と思えるものは沢山あると思います。<br>
    　結論を申し上げます。<b>全て勘違い</b>です。
    なぜならば<a href="#item-1-1">1-1. 幸・不幸を決める公式</a>が示す通り、何があろうとなかろうと幸せかどうかを決めるのはあなたの心だからです。<br>
    </p><br>

    <h5 id="item-1-3"><b>1-3.　人は無意識に〇〇をしている</b></h5>
    <p>
    　<b>幸せになる選択</b>
    </p>
    <p>
    　なぜ怠けてしまうのか？それは怠ける＝楽＝幸せになれるとあなたの無意識が判断しているからです。<br>
    ダイエットで例えると、無意識が自動的に食べる喜びと太る苦しみを天秤にかけて、食べる方が喜びが大きい＝幸せになれると判断したらつい食べてしまうのです。
    </p>
    <p>
    　<b>無意識をコントロールするには</b>
    </p>
    <p>
    　意識的に習慣化することにより無意識に刷り込むことが可能です。<br>
    箸を使う、自転車に乗る、これらは多くの方が最初上手くできず苦労した思い出をお持ちだと思いますが、無意識のコントロールも同じように練習を重ねることで気付いたらできるようになっていきます。
    </p>
    <p>
    　<b>習慣化するコツ</b>
    </p>
    <p>
    　ここで問題なのが、その習慣化が難しいということです。<br>
    急な変化を無意識は嫌がるため、少しから始めて徐々に慣らしていくというのは有効かと思います。もっと詳しい仕組みを知りたい方は<%= link_to "ホメオスタシス", "https://www.google.com/search?q=%E3%83%9B%E3%83%A1%E3%82%AA%E3%82%B9%E3%82%BF%E3%82%B7%E3%82%B9&oq=%E3%81%BB%E3%82%81%E3%81%8A&aqs=chrome.1.69i57j0l7.3049j1j1&sourceid=chrome&ie=UTF-8" %>をググってみてください。
    </p><br>

    <h5 id="item-1-4"><b>1-4.　多くの人が後悔すること</b></h5>
    <p>
    　<b>「自分の幸せをもっと追求すれば良かった」</b>
    </p>
    <p>
    　皆さんは「こうすれば幸せになる」という選択を積み重ねて今まで生きてきて、そしてこれからも死ぬまでそれを続けていくでしょう。
    皆そう考え生きているはずなのに、死ぬ前に「自分の幸せをもっと追求すれば良かった」と感じる人が多いのはなぜでしょうか。
    そもそも錯覚によってズレた選択・誤った選択を繰り返しているとしたら、その集大成が後悔にしかならないのは明らかです。
    </p><br>

  </div>

</div>