<h5 class="navbar-brand"><b>人生の落とし穴</b></h5>
<div class="d-flex">
  <nav id="navbar-example3" class="book_titles navbar navbar-light">
    <nav class="nav nav-pills flex-column">
      <a class="nav-link" href="#item-1">1 やめといた方が良いこと</a>
      <nav class="nav nav-pills flex-column">
        <a class="nav-link ml-3 my-1" href="#item-1-1">1-1. ギャンブル</a>
        <a class="nav-link ml-3 my-1" href="#item-1-2">1-2. 生命保険</a>
        <a class="nav-link ml-3 my-1" href="#item-1-3">1-3. お酒</a>
        <a class="nav-link ml-3 my-1" href="#item-1-4">1-4. オナニー</a>
        <a class="nav-link ml-3 my-1" href="#item-1-5">1-5. 薬物</a>
        <a class="nav-link ml-3 my-1" href="#item-1-6">1-6. 借金</a>
      </nav>
    </nav>
  </nav>

  <div class="book_contents" data-spy="scroll" data-target="#navbar-example3" data-offset="0">
    <br>
    <h4 id="item-1"><b>1　やめといた方が良いこと</b></h4>
    <br>

    <h5 id="item-1-1"><b>1-1. ギャンブル</b></h5>
    <p>
    　親(胴元)が絶対に儲かる仕組みなので、あなたは回数を繰り返すほど収支のマイナスが確定していきます。<br>
    </p><br>

    <h5 id="item-1-2"><b>1-2. 生命保険</b></h5>
    <p>
    　事実だけお伝えすると、お金の還元の仕組みはギャンブルと同じです。<br>
    </p><br>

    <h5 id="item-1-3"><b>1-3. お酒</b></h5>
    <p>
    　お酒はあなたからお金と時間と健康と正常な判断を奪います。<br>
    お酒を飲むとストレス発散になるというのは錯覚です。なぜならばあなたにストレスを与えている原因は、あなたがお酒をいくら飲んでも何も変化しないからです。<br>
    同僚と酒を飲んで仕事の愚痴を言っても、同様に愚痴の原因は何も変化しません。<br>
    あと、飲酒運転は<b>絶対</b>やめましょう。人生は簡単に詰みますよ。
    </p><br>

    <h5 id="item-1-4"><b>1-4. オナニー</b></h5>
    <p>
    　脳にダメージを与えることがわかっています。<br>
    お酒同様、オナニーがストレス発散になるというのは錯覚です。なぜならばあなたにストレスを与えている原因は、あなたがオナニーをいくらしても何も変化しないからです。
    </p><br>

    <h5 id="item-1-5"><b>1-5. 薬物</b></h5>
    <p>
    　研究中...<br>
    </p><br>

    <h5 id="item-1-6"><b>1-6. 借金</b></h5>
    <p>
    　これは身内や友人、知人から借金をする、消費者金融から借入をする、ローンを組む、クレジットのリボ払い等が該当します。<br>
    あなたが借金しないと手に入らないものは、今のあなたのキャパシティーを超えているという見方ができます。手に入れた喜びは徐々に薄れ、毎月の少なくない支払いだけが残ります。
    </p><br>

  </div>

</div>