<h5 class="navbar-brand"><b>健康</b></h5>
<div class="d-flex">
  <nav id="navbar-example3" class="book_titles navbar navbar-light">
    <nav class="nav nav-pills flex-column">
      <a class="nav-link" href="#item-1">1 </a>
      <nav class="nav nav-pills flex-column">
        <a class="nav-link ml-3 my-1" href="#item-1-1">1-1. </a>
        <a class="nav-link ml-3 my-1" href="#item-1-2">1-2. </a>
        <a class="nav-link ml-3 my-1" href="#item-1-3">1-3. </a>
        <a class="nav-link ml-3 my-1" href="#item-1-4">1-4. </a>
        <a class="nav-link ml-3 my-1" href="#item-1-5">1-5. </a>
        <a class="nav-link ml-3 my-1" href="#item-1-6">1-6. </a>
      </nav>
    </nav>
  </nav>

  <div class="book_contents" data-spy="scroll" data-target="#navbar-example3" data-offset="0">
    <br>
    <h4 id="item-1"><b>1　</b></h4>
    <br>

    <h5 id="item-1-1"><b>1-1. </b></h5>
    <p>
    　<br>
    </p><br>

    <h5 id="item-1-2"><b>1-2. </b></h5>
    <p>
    　<br>
    </p><br>

    <h5 id="item-1-3"><b>1-3. </b></h5>
    <p>
    </p><br>

    <h5 id="item-1-4"><b>1-4. </b></h5>
    <p>
    </p><br>

    <h5 id="item-1-5"><b>1-5. </b></h5>
    <p>
    <br>
    </p><br>

    <h5 id="item-1-6"><b>1-6. </b></h5>
    <p>
    </p><br>

  </div>

</div>