<div>
  公認メンター一覧
</div>
<div class="card" style="width: 18rem;">
  <img src="images/96e8ec1426303e3869de9e3bed501335.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">メンター　T</h5>
    <p class="card-text">メンターから一言メッセージ</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">職業：エンジニア</li>
    <li class="list-group-item">37歳</li>
    <li class="list-group-item">好きな食べ物：カロリーメイト</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">個別に相談する</a>
    <a href="#" class="card-link">プロフィール</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="96e8ec1426303e3869de9e3bed501335.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">メンター　T</h5>
    <p class="card-text">メンターから一言メッセージ</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">職業：弁護士</li>
    <li class="list-group-item">37歳</li>
    <li class="list-group-item">好きな場所：高野山</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">相談する</a>
    <a href="#" class="card-link">プロフィール</a>
  </div>
</div>