<h1>Mentors#index</h1>
<p>必要な機能</p>
<p>メンター権限付与</p>
<p>メンターログイン</p>
<p>メンター属性のユーザーは全てのルームが表示され入れる</p>
<p>ユーザー検索機能</p>
<p>各カラムで検索がかけられる</p>
<p>解決済みのルームは表示されない、OR下に溜まっていく</p>
<p>ルーム検索して特定のルームに参加できるようにする</p>
<p>メンター同士はチャットできる</p>
<p>新規ルームは上に表示される</p>
<button type="button" class="btn btn-outline-light btn-sm"><%= link_to "戻る", root_path %></button>