<%= render "shared/header" %>

<div class="shared_body overflow-auto">
  <div class="d-flex flex-column"> <%#縦並び%>
    <button type="button" class="btn btn-outline-primary m-2"><%= link_to "ユーザーをメンターとして承認する", mentor_approval_mentors_path %></button>
  </div>
</div>

<%= render "shared/footer" %>