<h1>全ルーム一覧</h1>

<div>
  <% @rooms.each do |room| %>
    ルームID：<%= room.id %>-<%= room.user_id %>
    <div>
      <button type="button" class="btn btn-outline-light"><%= link_to room.name, room_messages_path(room) %></button>
        <% if room.status == 0 %>
          <span class="badge badge-pill badge-danger">新規</span>
        <% elsif room.status == 1 %>
          <span class="badge badge-pill badge-warning">相談中</span>
        <% elsif room.status == 2 %>
          <span class="badge badge-pill badge-success">解決済</span>
        <% end %>
      </div>  
    <% end %>
</div>

<button type="button" class="btn btn-outline-light btn-sm"><%= link_to "戻る", mentors_path %></button>