<div class="card book_icon">
  <div>
    <%= image_tag "book_img.jpg", class:"card-img-top", alt:"..." %>
  </div>
  <h5 class="card-title">人生の落とし穴</h5>
  <p class="card-text">最終更新　2020/10/11</p>
  <h6 class="card-title"><%= link_to "読む", content_3_library_index_path %></h6>
</div>