<div class="card col" style="width: 18rem;">
  <div>
    <%= image_tag "rooms_img2.jpg", class:"card-img-top", alt:"..." %>
  </div>
  <h5 class="card-title"><%= link_to "全ルーム一覧はこちら", all_rooms_mentors_path %></h5>
</div>