<div class="card col" style="width: 18rem;">
  <div>
    <%= image_tag "profile_img.jpg", class:"card-img-top", alt:"..." %>
  </div>
  <h5 class="card-title">全プロフィール一覧</h5>
  <button type="button" class="btn btn-outline-primary"><%= link_to "Go", all_profiles_mentors_path %></button>
</div>