<div class="card col" style="width: 18rem;">
  <div>
    <%= image_tag "profile_img.jpg", class:"card-img-top", alt:"..." %>
  </div>
  <h5 class="card-title"><%= link_to "全プロフィール一覧はこちら", all_profiles_mentors_path %></h5>
</div>