<div class="card col" style="width: 18rem;">
  <div>
    <%= image_tag "edit_img.jpg", class:"card-img-top", alt:"..." %>
  </div>
  <h5 class="card-title">編集する</h5>
  <button type="button" class="btn btn-outline-primary"><%= link_to "Go", edit_profile_path %></button>
</div>