<div class="card col" style="width: 18rem;">
  <div>
    <%= image_tag "home_img.jpg", class:"card-img-top", alt:"..." %>
  </div>
  <h5 class="card-title">ホームへ戻る</h5>
  <button type="button" class="btn btn-outline-primary"><%= link_to "Back", root_path %></button>
</div>