<div class="card col" style="width: 18rem;">
  <div>
    <%= image_tag "book_img2.jpg", class:"card-img-top", alt:"..." %>
  </div>
  <h5 class="card-title"><%= link_to "他の情報も見る", library_index_path %></h5>
</div>