<div class="card col" style="width: 18rem;">
  <div>
    <%= image_tag "book_img2.jpg", class:"card-img-top", alt:"..." %>
  </div>
  <h5 class="card-title">他の情報も見る</h5>
  <button type="button" class="btn btn-outline-primary"><%= link_to "Go", library_index_path %></button>
</div>