<div class="card col" style="width: 18rem;">
  <div>
    <%= image_tag "search_img7.jpg", class:"card-img-top", alt:"..." %>
  </div>
  <h5 class="card-title">検索</h5>
  <button type="button" class="btn btn-outline-primary"><%= link_to "Go", list_up_profiles_path %></button>
</div>