<div class="card col" style="width: 18rem;">
  <div>
    <%= image_tag "search_img7.jpg", class:"card-img-top", alt:"..." %>
  </div>
  <h5 class="card-title"><%= link_to "検索する", list_up_profiles_path %></h5>
</div>