<div class="card col" style="width: 18rem;">
  <div>
    <%= image_tag "home_img.jpg", class:"card-img-top", alt:"..." %>
  </div>
  <h5 class="card-title">さあ、はじめよう</h5>
  <p class="card-text">この説明書は右上の🔮アイコンからいつでも見ることができます。</p>
  <button type="button" class="btn btn-outline-primary"><%= link_to "Start!", root_path %></button>
</div>