<h4><b><i class="fas fa-hat-wizard fa-1x navi_logo"></i>Buffアプリとは</b></h4>
<h6>超難関と言われる試験でも、模範解答を見ながらだったら楽勝だと思いませんか。</h6>
<h6>それなら人生の難関なんて模範解答を見て楽々突破しちゃおうぜ！という合理的なアプリです。</h6>
<h6>ただ単なるチートシートではなく、自力で解決する力を培っていただくことを目標としています。</h6>
<br>
<h4><b><i class="fas fa-hat-wizard fa-1x navi_logo"></i>ライブラリについて</b></h4>
<h6>有益な情報があればアップデートしていく予定です。</h6>
<br>
<h4><b><i class="fas fa-hat-wizard fa-1x navi_logo"></i>メンターについて</b></h4>
<h6>厳しい条件をクリアした方々に公認メンターになっていただいてます。</h6>
<h6>日々の仕事やプライベートで何かにつまずいた時や悩んだ時、遠慮なく<b>相談ルーム</b>を作成してみてください。</h6>
<h6>メンターの皆さんがきっと解決まで導いてくれるはずです。</h6>
<br>
<h4><b><i class="fas fa-hat-wizard fa-1x navi_logo"></i>相談ルーム(マイルーム)について</b></h4>
<h6>・ルームはいくつでも作成することができます。</h6>
<h6>・ルームタグは以下の3種類です。</h6>
<h6><span class="badge badge-pill badge-danger">新規</span>：新しく作成したルームに付きます。</h6>
<h6> <span class="badge badge-pill badge-warning">相談中</span>：メンターが返信するとこのタグに変わります。</h6>
<h6> <span class="badge badge-pill badge-success">解決済</span>：<b>解決済(解決済み)</b>とコメントするとこのタグに変わります。</h6>
<br>
<h4><b><i class="fas fa-hat-wizard fa-1x navi_logo"></i>右上の🔮(水晶)メニューについて</b></h4>
<h6>・ログアウト　　　：ログアウトしてトップページに戻ります。</h6>
<h6>・アプリの説明書　：この説明書をもう一度見たい時にどうぞ。</h6>
<h6>・ログイン情報変更：ログイン時に使うメールアドレスとパスワードを変更できます。</h6>
<h6>・管理人室　　　　：入るには特別なパスが必要です。</h6>
<h6>・ホームへ戻る　　：🔮メニューから離れたい時に使ってください。</h6>
<br>
<h4><b><i class="fas fa-hat-wizard fa-1x navi_logo"></i>プロフィールについて</b></h4>
<h6>個人情報を外部に漏洩することはありませんのでご安心ください。</h6>
<br>