<h1><%= image_tag "top_img.jpg",:size => '40x40' %>新社会人の皆さん専用お悩み解決アプリ</h1>
<%= image_tag "top_girl_img.jpg",:size => '300x300' %>
<%= image_tag "dark_img.jpg",:size => '300x300' %>
<h2>◇使い方◇</h2>
<h4>1)新規ユーザー登録をしてください</h4>
<h4>2)プロフィールを充実させましょう</h4>
<h4>3)新規相談ルームを作成しましょう</h4>
<h4>4)人生経験豊富なメンター陣が返信します</h4>
<h4>5)メンターとチャットができます</h4>