<h1><%= image_tag "top_img.jpg",:size => '40x40' %>新社会人が抱える悩みを皆さんが自己成長や心を強くすることで解決していくアプリ(仮名称)</h1>
<%= image_tag "top_girl_img.jpg",:size => '300x300' %>
<%= image_tag "dark_img.jpg",:size => '300x300' %>
<h2>◇使い方◇</h2>
<h4>1)新規ユーザー登録をしてください</h4>
<h4>2)メンターの方が返信しやすいように、プロフィールを充実させましょう</h4>
<h4>3)新規相談ルームを作成しましょう</h4>
<h4>4)自己成長に特化したメンターが返信します</h4>
<h4>5)メンターとチャットができます</h4>