<%= render "shared/header" %>

<div class="shared_body">
  <div>
    改装中...
    <br>
    以下のような内容を予定
    <br>
    <br>
    お金
    <br>
    📙無駄な支出を減らせ！
    <br>
    📙節税で賢く生きる
    <br>
    📙豆乳を安く買うには
    <br>
    <br>
    人間関係
    <br>
    📕人間関係を良くする唯一の方法
    <br>
    <br>
    健康
    <br>
    📗呼吸を科学する
    <br>
    📗良い姿勢がもたらす恩恵
    <br>
    <br>
    智慧
    <br>
    📘【科学的に証明されたシリーズ①】<br>オナニーをするとアホになる！
    <br>
    📘【科学的に証明されたシリーズ②】<br>少食で心身はエネルギッシュになる
    <br>
    <br>
    etc
    <br>
  </div>
</div>

<%= render "shared/footer" %>