.book {
  &_titles {
    width: 30%;
    height: 75vh;
    overflow: auto;
    background-color:rgba(45, 248, 164, 0.3);
  }

  &_contents {
    width: 60%;
    height: 75vh;
    overflow: auto;
    background-color:rgba(45, 248, 164, 0.1);
  }
}

.book_icon{
  width: 180px;
  height: 240px;
  margin: 15px;
  text-align: center;
}