.mentors_list {
  width: calc(100% - 200px);
  &_card{
    width: 500px;
  }
}

.search_unit{
  display: block;
  overflow: auto;
  margin: 12px;
  &_form {
    width: 100%;
    margin-bottom: 24px;
    //height: 20vh;
    //background-color: aqua;
  }
  &_result{
    width: 100%;
    //margin-top: 20vh;
  }
}