// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.loginPage {
  &_contents {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

    &_title {
      margin-top: 12vh;
    }

    &_main_btn {
      display: block;
      max-width: 400px;
      padding: 20px;
      margin: 0 auto;
      border-radius: 30px;
      background: rgb(40, 40, 200);
      color: #fff;
    }

    &_btn {
      display: block;
      max-width: 300px;
      padding: 5px;
      margin: 0 auto;
      margin-bottom: 2px;
      border-radius: 30px;
      background: rgb(80, 80, 200);
      color: #fff;
    }
  }
}

.modal_window {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 255, 0.3);
}

.modal_body {
  width: 100%;
  margin-top: 60vh;
}

.modal_room_select {
  color: #fff;
  text-align: center;
  width: 100%;
  margin-top: 20vh;
  background-color: rgba(0, 0, 255, 0);

  &_btn {
    display: block;
    max-width: 300px;
    padding: 5px;
    margin: 0 auto;
    margin-bottom: 2px;
    border-radius: 30px;
    background: rgb(8, 250, 250);
    color: #fff;
  }
}

.modal_new_room {
  color: #fff;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  margin-top: 20vh;
  background-color: rgba(0, 0, 255, 0);
  align-items: center;


  &_btn {
    display: block;
    max-width: 300px;
    padding: 5px;
    margin: 0 auto;
    margin-bottom: 2px;
    border-radius: 30px;
    background: rgb(8, 250, 250);
    color: #fff;
  }
}

.home_page {
  display: flex;
}

.side_bar {
  width: 240px;
  height: 100vh;
  background-color: rgba(9, 255, 0, 0.3);
}

.main_body {
  width: calc(100% - 240px);
  background-color: rgba(221, 25, 175, 0.3);
  overflow: auto;
}

.card {
  padding: 12px;
}
