.shared_header{
  height: 50px;
  background-color: blueviolet;
}

.shared_body{
  height: calc(100vh - 100px);
  overflow: auto;
}

.shared_footer{
  height: 50px;
  background-color: lightblue;
}

.footer_btn {
  display: flex;
  justify-content: center;
}